@font-face
{
   font-family: "Muller Regular";
   src: url('../fonts/MullerRegular.eot');
   src: url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerRegular.ttf') format('truetype'),
        url('../fonts/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular.woff2') format('woff2');
}
@font-face
{
   font-family: "Muller Bold";
   src: url('../fonts/MullerBold.eot');
   src: url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerBold.ttf') format('truetype'),
        url('../fonts/MullerBold.woff') format('woff'),
        url('../fonts/MullerBold.woff2') format('woff2');
}
@font-face
{
   font-family: "Muller Black";
   src: url('../fonts/MullerBlack.eot');
   src: url('../fonts/MullerBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerBlack.ttf') format('truetype'),
        url('../fonts/MullerBlack.woff') format('woff'),
        url('../fonts/MullerBlack.woff2') format('woff2');
}
@font-face
{
   font-family: "Muller ExtraBold Italic";
   src: url('../fonts/MullerExtraBoldItalic.eot');
   src: url('../fonts/MullerExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerExtraBoldItalic.ttf') format('truetype'),
        url('../fonts/MullerExtraBoldItalic.woff') format('woff'),
        url('../fonts/MullerExtraBoldItalic.woff2') format('woff2');
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
a.style100
{
   color: #166673;
   text-decoration: none;
}
a.style100:visited
{
   color: #166673;
   text-decoration: none;
}
a.style100:active
{
   color: #166673;
   text-decoration: underline;
}
a.style100:hover
{
   color: #166673;
   text-decoration: underline;
}
a.style101
{
   color: #000000;
   text-decoration: none;
}
a.style101:visited
{
   color: #000000;
   text-decoration: none;
}
a.style101:active
{
   color: #000000;
   text-decoration: underline;
}
a.style101:hover
{
   color: #000000;
   text-decoration: underline;
}
h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #2E74B5;
   background-color: transparent;
}
