.sl_1 {
  max-width: 320px;
  text-align: center;
  position: relative;
}
.slick-prev {
  position: absolute;
  left: 10px;
  top: calc(50% - 10px);
  border: none;
  background-color: transparent;
  width: 17px;
  height: 12px;
  background-image: url(../images/arrowleft_mob.png);
  font-size: 0;
  z-index: 20;
  cursor: pointer;
}
.slick-next {
  cursor: pointer;
 z-index: 20;
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
  border: none;
  background-color: transparent;
  width: 17px;
  height: 12px;
  font-size: 0;

  background-image: url(../images/arrowright_mob.png);
}
.sl_1 .frame {
  max-width: 320px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.sl_1 span {
  max-width: 320px;
  text-align: center;
  line-height: 13px;
  max-width: 320px;
  font-size: 13px;
  min-height: 60px;
  display: flex;
  justify-content: flex-end;
}
.sl_1 img {
  margin-bottom: 30px;
}
.sl_2 div,
.sl_2 span,
.sl_2 img {
  position: relative !important;
}
.sl_2 {
  width: 320px;
  margin: 0 auto;
}
.sl_1 .slick-next{
    top: auto;
    bottom: 70%;

}
.sl_1 .slick-prev{
    top: auto;
    bottom: 70%;
}
.sl_2 .slick-next{
    top: auto;
    bottom: 0;
}
.sl_3 .slick-prev{
    top: auto;
    bottom: 66%;
}
.sl_3 .slick-next{
    top: auto;
    bottom: 66%;

}
.sl_2 .slick-prev{
    top: auto;
    bottom: 0;
}
.sl_2 .frame {
  width: 320px;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sl_b_1 {
    height: 650px;
    width: 320px;
    background-image: url(../images/sf1_mob.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size:320px auto ;
    text-align: center;
    margin: 0 auto;
  }
  .sl_b_1_2{
    background-image: url(../images/sf2_mob.png);
  }
  .sl_b_1_3{
    background-image: url(../images/sf3_mob.png);
  }
  .sl_2_m{
    width: 320px;
    top: 2644px;
    left: auto;
    position: absolute;
    z-index: 1000;
  }
.sl_3 div,
.sl_3 span,
.sl_3 img {
  position: relative !important;
}
.sl_3 {
  width: 320px;
}
.sl_3_m {
  width: 320px;
  top: 7751px;
  left: auto;
  position: absolute;
}
.sl_3 img {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 160px;
  height: 160px;
  margin-bottom: 40px;
}
.sl_3 span {
  min-height: 60px;
}
.sl_3 .frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.sl_4 .frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 290px;
}
.sl_4 {
  width: 320px;
}
.sl_4 img {
    margin-bottom: -60px;
  }
.sl_4 .slick-prev {
  top: auto;
  bottom: 0;
}
.sl_4 .slick-next {
  top: auto;
  bottom: 0;
}
.sl_4_m {
  position: absolute;
  top: 9700px;
  left: auto;
  z-index: 100;
}
.sl_4 span {
}
.sl_1_m {
  position: absolute;
  top: 850px;
  left: auto;
  z-index: 500;
}
.sl_b_1 div,
.sl_b_1 span,
.sl_b_1 img,
.sl_b_1 li,
.sl_b_1 ul {
  position: relative !important;
}

.slider_g {
    display: none !important;
    z-index: 700;
  }
  #wb_SlideShow1 {
    margin-top: -85px;
  }
  #LayoutGrid20{
    margin-bottom: 85px;
  }