a,button,div,input{
  outline: none;
}

#Image42 {
  margin-top: -48px;
}
#Shape93_text {
  left: -10px;
  top: 39px;
}
#Shape107_text {
  left: -10px;
  top: 39px;
}
#Button4 {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}
#Layer2 .close {
  float: right;
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  color: #ff0000;
  text-shadow: 0px 1px 0px rgb(0 0 0);
  opacity: 1;
  -webkit-appearance: none;
  padding: 15px 15px 0px 0px;
  cursor: pointer;
  background: 0 0;
  border: 0;
  margin-top: 6px;
}
#Shape1_text {
  left: -10px;
  top: 39px;
}
#wb_Image5 {
  margin: -68px 0px 0px -32px;
}
#Shape3_text {
  font-size: 14px;
  top: 21px;
  left: 15px;
}
#Shape4_text {
  left: 15px;
  top: 30px;
}
#Shape5_text {
  left: 15px;
  top: 30px;
}
#wb_Text8 {
  text-shadow: 6px 0px rgba(128, 163, 196, 0.2);
}
#wb_Text9 {
  text-shadow: 6px 0px rgba(128, 163, 196, 0.2);
}
#wb_Text11 {
  text-shadow: 6px 6px rgba(128, 163, 196, 0.2);
}
#wb_Text13 {
  text-shadow: 6px 6px rgba(128, 163, 196, 0.2);
}
#wb_Text15 {
  text-shadow: 6px 6px rgba(128, 163, 196, 0.2);
}
#wb_BulletedList2 {
  margin: 25px 0px 0px 35px;
}
#wb_BulletedList2 .item {
  padding: 8px 0 22px 0;
}
#wb_BulletedList1 {
  margin: 25px 0px 0px 35px;
}
#wb_BulletedList1 .item {
  padding: 10px 0 6px 0;
}
#wb_BulletedList3 {
  margin: 25px 0px 0px 35px;
}
#wb_BulletedList3 .item {
  padding: 9px 0 22px 0;
}
.ui-slider-horizontal .ui-slider-handle {
  top: 0px;
  margin-left: 0px;
}
#wb_Text69 {
  margin-top: -33px;
  padding: 0px 20px 10px 0px;
}
#Label1 {
  line-height: 18px;
}
#Label2 {
  line-height: 18px;
}
#Label3 {
  line-height: 18px;
}
#Editbox9 {
  margin-top: -33px;
}
#Shape84_text {
  left: -10px;
  top: 39px;
}
#Shape35_text {
  line-height: 15px;
}
#Shape36_text {
  line-height: 15px;
}
#Shape41_text {
  line-height: 15px;
}
#Shape44_text {
  line-height: 15px;
}
#Shape46_text {
  line-height: 15px;
}
#Shape50_text {
  line-height: 15px;
}
#Button2 {
  background-image: url(images/button8_1.png) !important;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}
#Button1 {
  background-image: url(images/button7.png);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}
#Layer1 .close {
  float: right;
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  color: #ff0000;
  text-shadow: 0px 1px 0px rgb(0 0 0);
  opacity: 1;
  -webkit-appearance: none;
  padding: 15px 15px 0px 0px;
  cursor: pointer;
  background: 0 0;
  border: 0;
  margin-top: 12px;
}
#Shape53_text {
  top: 9px;
}
@media only screen and (max-width: 1169px) and (min-width: 1024px) {
  #Shape84_text {
    left: -8px;
    top: 42px;
  }
  #Shape1_text {
    left: -10px;
    top: 40px;
    width: 338px;
    height: 90px;
  }
  #Layer1 .modal-content {
    visibility: visible;
  }
  #wb_BulletedList2 {
    margin: 25px 0px 0px 15px;
  }
  #wb_BulletedList3 {
    margin: 25px 0px 0px 5px;
  }
  #wb_Shape74 {
    width: 18px;
  }
  #LayoutGrid13 > .col-2 {
    background-size: contain;
  }
  #wb_Shape56 {
    height: 93px;
  }
  #wb_SlideShow1 {
    height: 490px;
  }
  #LayoutGrid14 > .col-1 {
    background-size: contain;
  }
  #wb_Text27 {
    padding: 45px 0px 10px 0px;
  }
  #wb_SlideShow2 {
    height: 492px;
  }
  #wb_Text30 {
    padding: 15px 0px 80px 0px;
  }
  #wb_Text33 {
    padding: 200px 95px 270px 0px;
    text-align: center;
    line-height: 19px;
  }
  #wb_Text35 {
    padding: 202px 0px 270px 60px;
  }
  #wb_Text36 {
    padding: 0px 105px 0px 0px;
  }
  #wb_Text38 {
    padding: 0px 0px 0px 65px;
  }
  #wb_LayoutGrid18 {
    background-size: contain;
  }
  #wb_Text45 {
    padding: 120px 0px 260px 10px;
  }
  #wb_Text46 {
    padding: 122px 0px 296px 0px;
  }
  #wb_Text47 {
    padding: 125px 0px 277px 0px;
  }
  #wb_Text48 {
    padding: 127px 0px 275px 0px;
  }
  #wb_Text49 {
    padding: 127px 0px 275px 0px;
  }
  #wb_Shape86 {
    height: 15px;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  #wb_Text6 {
    padding: 35px 0px 10px 0px;
  }
  #wb_BulletedList1 {
    margin: 25px 0px 0px 15px;
  }
  #wb_BulletedList2 {
    margin: 25px 0px 0px 10px;
  }
  #wb_BulletedList3 {
    margin: 0px 0px 0px 10px;
  }
  #wb_BulletedList1 .item0 {
    font-size: 13px;
    line-height: 14px;
  }
  #wb_BulletedList1 .item1 {
    font-size: 13px;
    line-height: 14px;
  }
  #wb_BulletedList1 .item2 {
    font-size: 13px;
    line-height: 14px;
  }
  #wb_BulletedList1 .item3 {
    font-size: 13px;
    line-height: 14px;
  }
  #wb_BulletedList1 .item4 {
    font-size: 13px;
    line-height: 14px;
  }
  #wb_BulletedList2 .item0 {
    font-size: 13px;
    line-height: 14px;
  }
  #wb_BulletedList2 .item1 {
    font-size: 13px;
    line-height: 14px;
  }
  #wb_BulletedList2 .item2 {
    font-size: 13px;
    line-height: 14px;
  }
  #wb_BulletedList2 .item3 {
    font-size: 13px;
    line-height: 14px;
  }
  #wb_BulletedList3 .item0 {
    font-size: 13px;
    line-height: 14px;
  }
  #wb_BulletedList3 .item1 {
    font-size: 13px;
    line-height: 14px;
  }
  #wb_Text49 {
    padding: 50px 0px 85px 0px;
  }
}
@media only screen and (max-width: 1169px) {
  #Layer2 .modal-content {
    visibility: visible;
    font-size: 8px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: #ffffff;
    background-image: none;
    background-image: none;
    border: 1px #a0522d dashed;
    border-radius: 6px;
  }
}
@media only screen and (max-width: 1169px) {
  #Image54 {
    width: 50px;
    height: 5px;
    margin-left: 15px;
  }
}
@media only screen and (max-width: 1169px) {
  #Label5 {
    line-height: 15px;
  }
}
@media only screen and (max-width: 1169px) {
  #Label6 {
    line-height: 15px;
  }
}
@media only screen and (max-width: 1169px) {
  #SlideShow3_back {
    margin-top: -15px;
  }
}
@media only screen and (max-width: 1169px) {
  #SlideShow3_next {
    margin-top: -15px;
  }
}
@media only screen and (max-width: 1169px) {
  #Editbox15 {
    margin-top: -30px;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  #Layer1 .modal-content {
    visibility: visible;
  }
}
@media only screen and (max-width: 767px) {
  #wb_Text160 {
    padding: 10px 0px 145px 0px;
  }
  @media only screen and (max-width: 767px) {
    #wb_Text161 {
      padding: 25px 0px 161px 0px;
    }
  }
  #Layer3 .close {
    float: right;
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    color: #ff0000;
    text-shadow: 0px 1px 0px #fff;
    opacity: 1;
    -webkit-appearance: none;
    padding: 15px 15px 0px 0px;
    cursor: pointer;
    background: 0 0;
    border: 0;
    margin-top: -8px;
  }
  @media only screen and (max-width: 767px) and (min-width: 480px) {
    #Shape159_text {
      left: -10px;
      top: 35px;
    }
    #wb_Text193 {
      font-size: 14px;
      margin: -5px 0px 0px 0px;
      padding: 5px 0px 20px 155px;
    }
    #wb_Text194 {
      font-size: 14px;
      width: 200px;
      margin: -9px 0px 0px 0px;
      padding: 0px 0px 20px 155px;
    }
    #wb_Text195 {
      font-size: 14px;
      width: 190px;
      margin: -14px 0px 0px 0px;
      padding: 8px 0px 30px 155px;
    }
    #wb_Text196 {
      font-size: 14px;
      width: 200px;
      margin: -18px 0px 0px 0px;
      padding: 0px 0px 20px 155px;
    }
    #wb_Text197 {
      font-size: 14px;
      width: 200px;
      margin: -17px 0px 0px 0px;
      padding: 0px 0px 50px 155px;
    }
    #wb_Text199 {
      font-size: 14px;
      width: 200px;
      margin: -25px 0px 0px 0px;
      padding: 5px 0px 20px 155px;
    }
    #wb_Text200 {
      font-size: 14px;
      width: 200px;
      margin: -10px 0px 0px 0px;
      padding: 5px 0px 20px 155px;
    }
    #wb_Text201 {
      font-size: 14px;
      width: 200px;
      margin: -5px 0px 0px 0px;
      padding: 5px 0px 20px 155px;
    }
    #wb_Text202 {
      font-size: 14px;
      width: 200px;
      margin: -10px 0px 0px 0px;
      padding: 5px 0px 20px 155px;
    }
    #wb_Text203 {
      font-size: 14px;
      width: 200px;
      margin: -10px 0px 0px 0px;
      padding: 5px 0px 20px 155px;
    }
    #wb_Shape163 {
      height: 600px;
    }
    #Editbox26 {
      margin-top: -30px;
    }
    #wb_Text205 {
      padding: 70px 0px 10px 0px;
    }
    #Shape174_text {
      top: 33px;
    }
    #Layer3 .modal-content {
      visibility: visible;
    }
    #Button6 {
      cursor: pointer;
      outline: none;
      border: none;
    }
    #wb_Text218 {
      padding: 15px 0px 10px 15px;
    }
    #wb_Shape200 {
      height: 74px;
    }
    #LayoutGrid32 > .col-1 {
      text-align: center;
    }
  }
  @media (max-width: 480px) {
    /* body {
      max-width: 320px;
      margin: 0 auto;
    } */
    #wb_Carousel8 {
      left: 0;
      top: 9700px;
    }
  }


  @media only screen and (max-width: 915px) and (min-width: 100px) {
    #wb_Carousel8 {
      left: 0 !important;
      top: 9700px !important;
    }
    #Editbox12 {
      display: block !important;
      visibility: visible !important;
    }
  }
  /* @media (max-width: 420px){body{max-width: 420px}}
@media (max-width: 400px){body{max-width: 400px}}
@media (max-width: 375px){body{max-width: 375px}}
@media (max-width: 411px){body{max-width: 411px}}
@media (max-width: 540px){body{max-width: 540px}}
@media (max-width: 400px){body{max-width: 400px}} */
  @media (max-width: 340px) {
    #Layer2 .modal-body {
      height: 400px !important;
      overflow-y: scroll;
    }
  }
  #Layer3 .modal-dialog {
    background-color: #fff;
  }
}
.sc_head {
  justify-content: space-between;
  display: flex;
}
.sc_slider_1 {
  background-image: url(images/fslider1.png) !important;
  background-position: top !important;
}
.sc_th_g {
  height: 50px !important;
}
.sc_head_bg {
  background-image: url(images/new/sc_head.png);
  background-image: none !important;
  background-size: 1920px;
  background-position: bottom !important;
}
.sc__bg {
  background-image: url(images/new/sc_bg.png);
  background-image: none !important;
}
.sc_main {
  background-image: url(images/new/new_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.sale50 {
  background-image: url(images/new/sale.png) !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.sc_soon {
  color: #fff;
}
.sc_S_fr_1 {
  padding: 30px 0 50px;
}
.sc_S_fr_2 {
}
.sc_sl_2_tt {
  padding-top: 10px !important;
}
.sc_sl2_t {
  padding-top: 20px;
}
.sc_sl2_t .item {
  max-width: 500px;
}
.sc_sl_2_text span {
  font-weight: 400;
  max-width: 500px;
}
.wb_Text27 {
  padding-top: 70px !important;
  font-weight: bold;
  font-size: 26px;
}
.wb_Text27 span {
  font-weight: bold;
  font-size: 26px;
}
.wb_Text5 {
  padding-top: 0px !important;
  float: left;
}
.wb_Text5 p {
  text-align: center;
  font-size: 22px;
  color: #fff;
}
.wb_Text5 span {
  color: #fff;
  font-size: 56px;
  font-weight: bold;
}
#timer-separator-46cec014d97c64f91351c38d160d08d8-hours,
#timer-separator-46cec014d97c64f91351c38d160d08d8-minutes,
#timer-separator-46cec014d97c64f91351c38d160d08d8-secundes {
  color: #fff !important;
  padding: 0 8px !important;
}
#timer-text-46cec014d97c64f91351c38d160d08d8-secundes,
#timer-text-46cec014d97c64f91351c38d160d08d8-days,
#timer-text-46cec014d97c64f91351c38d160d08d8-hours,
#timer-text-46cec014d97c64f91351c38d160d08d8-minutes {
  font-size: 16px !important;
  color: #fff !important;
}
.btn_head {
  margin-top: 70px;
}
.footer__sc_tx {
  display: none !important;
}
.wb_Text5_mob {
  display: none !important;
}
#wb_uid0 a {
  color: #166673;
}
@media (max-width: 915px) {
  .sc_main #wb_Text166 {
    padding-bottom: 20px;
  }
  .sc_main #wb_uid268 {
    padding-top: 10px;
  }
  .sc_main #wb_uid268,
  .sc_main #wb_uid271,
  .sc_main #wb_uid274 {
    padding-bottom: 10px;
  }

  .sc_main #wb_Text165 {
    padding-bottom: 20px;
  }
  #wb_Text74 {
  }
  .wb_Text5 p {
    color: #000;
  }
  .sc_main #Button4 {
    background-image: url(images/new/sale.png) !important;
    background-size: contain;
  }
  .footer__sc_tx {
    display: flex !important;
  }
  .wb_Text5_mob {
    display: block !important;
  }
  .sc_main {
    /* background-image: none !important; */
  }
  .sc_main #LayoutGrid24 > .col-2 {
    background-image: none !important;
  }
  .sc_main #wb_SlideShow3 .carousel-indicators {
    margin-left: -82px !important;
  }
  .sc_main #wb_uid186 {
    color: #fff;
  }
  .sc_main #Image34 {
    background-color: #fff;
    padding: 17px;
    border-radius: 15px;
  }

  .wb_Text5 {
    padding-top: 0px !important;
    float: left;
  }
  .wb_Text5 span {
    color: #000;
    font-size: 25px;
    font-weight: bold;
    padding: 0 5px !important;
  }
  .timer-separator {
    font-size: 30px !important;
    vertical-align: 20px !important;
  }
  #timer46cec014d97c64f91351c38d160d08d80 {
    min-width: 320px !important;
    padding-bottom: 20px;
  }
  #timer-separator-46cec014d97c64f91351c38d160d08d8-hours,
  #timer-separator-46cec014d97c64f91351c38d160d08d8-minutes,
  #timer-separator-46cec014d97c64f91351c38d160d08d8-secundes {
    color: #000 !important;
    padding: 0 5px !important;
  }
  #timer-text-46cec014d97c64f91351c38d160d08d8-secundes,
  #timer-text-46cec014d97c64f91351c38d160d08d8-days,
  #timer-text-46cec014d97c64f91351c38d160d08d8-hours,
  #timer-text-46cec014d97c64f91351c38d160d08d8-minutes {
    font-size: 16px !important;
    color: #000 !important;
  }
  .sc_sl_1_img img {
    height: auto !important;
    max-height: 100% !important;
    width: 250px !important;
    height: 290px !important;
    border-radius: 20px;
  }
  .sc_main #wb_SlideShow3 .thumbnail {
    height: 190px;
    border-radius: 15px;
    overflow: hidden;
  }
}
@media (max-width: 500px) {
  .sc_main #wb_Text74 {
    padding-top: 100px;
  }
  .sc_main {
    background-image: url(images/new/new_bg_m.png);
    background-size: 1005px;
    background-position: right 26% top 90px;
  }
  .sc_main #Shape93_text{
    top: 32px;
  }
  .sc_main #wb_Text75{
    font-size: 19px;
  }
  .sc_main #wb_Shape91{
    margin-bottom: 70px;
  }
  
}
.sc_sl_1_img {
  max-height: 450px !important;
}
.sc_sl_1_img img {
  height: auto !important;
  max-height: 100% !important;
  width: 500px;
  max-height: 420px !important;
  border-radius: 20px;
}
.sc_sl_frar .carousel-indicators {
  margin-left: -125px !important;
}
.wb_Text118 {
  padding: 20px 0 !important;
}
.wb_BulletedList9 {
  padding-bottom: 30px !important;
}
.mob_sl_1 img {
  height: auto !important;
  border-radius: 15px;
  max-height: 210px !important;
}
.sc_main #Shape93_text {
  position: relative !important;
  text-decoration: none;
}
.sc_main #Shape93_text span {
  text-decoration: none;
}
.sc_main #Shape93 {
  color: #000;
  border: none;
}
.sc_main #wb_Text117 {
  padding-left: 0;
}
.sc_main a {
  color: #000;
  text-decoration: none;
  border: none;
}
.btn_down {
  margin-top: 0px;
}
.wb_SlideShow4 {
  margin-bottom: 30px;
}
.footer__sc_tx a {
  text-align: center;
  font-weight: bold;
}
.footer__sc_tx {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
}
.beg_mob {
  background-color: #fff;
  border-radius: 5px;
  width: 305px;
  border: 1px solid #c5c5c5;
  margin-left: -10px;
}
.beg_mob #jQuerySlider2 {
  border: none;
}
.beg_desc {
  margin-bottom: 0px;
  width: 260px;
  border: 1px solid #c5c5c5;
  border-radius: 6px;
  height: 10px;
}
.beg_desc #jQuerySlider1 {
  width: 192px;
  border: none;
}
.beg__desc__inn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#wb_uid75,
#wb_uid74 {
  font-family: "Muller Bold";
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
}
#wb_Text68 {
  padding-top: 173px;
}
#Editbox6 {
  width: 180px !important;
  max-width: 180px !important;
  background-size: 100% 40px;
}
@media (max-width: 1024px) {
  .beg__desc__inn {
    flex-direction: column;
    align-items: flex-start;
  }
  #wb_Shape74 {
    display: none !important;
  }
}
#RadioButton2,
#RadioButton3 {
  cursor: pointer;
}
.th_1 #wb_Text3 {
  text-align: center;
}

.th_1 a {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.th_1 span {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.th_1 {
  min-height: 100vh;
}
.th_2 {
  min-height: 100vh;
  align-items: center;
}
.wb_LayoutGrid2 {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wb_LayoutGrid1 {
  align-items: center;
  justify-content: center;
  text-align: center;
}
#LayoutGrid24 > .col-2 {
  background-size: 100% !important;
  padding: 0;
  background-color: #fffcf5;
}
#wb_uid186 {
  color: #ffff;
}
.sh_mob {
  /* background-color: rgba(0, 0, 0, 0.3); */
}
.sc_main .col-2 {
  background-color: transparent !important;
}
.sc_sl_1_img_1 img {
  max-height: 450px !important;
}
.sc_main #wb_Text2 {
  font-size: 17px;
}
.sc_main #LayoutGrid2 > .col-3 {
  max-width: 50%;
  flex-basis: 50%;
}
.sc_main #wb_Text2 strong {
  font-size: 19px;
  padding-top: 5px;
  width: 100%;
}
#Button3 {
  /* background-image: url(images/button4.png);
  background-repeat: no-repeat;
  background-size: contain; */
  background-image: none;
  background-color: #ebe84d;
  height: 80px;
  border-radius: 50px;
  font-size: 14px;
  color: #000;
  border: none;
  margin-bottom: 10px;
}
.sc_main #SlideShow2 .thumbnail {
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
}
#wb_LayoutGrid1 #wb_uid3 {
  max-width: 700px;
}
@media (max-width: 915px) {
  #Layer1 .modal-body {
    background-color: #fff;
  }
  #wb_Carousel4 {
    display: none !important;
  }
  body {
    background-color: #ffffff;
    background-image: none;
    position: relative;
    /* max-width: 480px; */
    /* max-width: 320px; */
    margin: 0 auto;
  }
  .body_main {
    background-color: #fffcf5;
  }
  #wb_Shape97 {
    display: block;
    visibility: visible;
  }
  #wb_Carousel3 {
    left: 0px;
    top: 7751px;
  }
  .col-1 {
    overflow: hidden;
  }
  .ui-slider .ui-slider-handle {
    width: 20px;
  }
  #wb_Carousel2 {
    left: 14px;
    top: 2679px;
  }
  .m_fr_1{
    max-width: 320px;
    margin: 0 auto;
  }
  .wb_Carousel1,
  #LayoutGrid25
  {
    max-width: 320px;
    margin: 0 auto;
  }
  #wb_Carousel2{
    left: auto;
    margin-left: 13px;
  }
  .wb_Carousel1___{
    /* margin: 0 auto;
    width: 320px; */

  }
  #Carousel2 .frame{
    /* width: 320px; */
  }
  #wb_Carousel8,
  #wb_Carousel1,
  #wb_Carousel3,
  #wb_Carousel8{
    left: auto !important;
    width: 320px;
  }
  #wb_Carousel1{
    background-color: transparent;
  }
  body{
  }
  #timer-text-46cec014d97c64f91351c38d160d08d80-secundes,
#timer-text-46cec014d97c64f91351c38d160d08d80-days,
#timer-text-46cec014d97c64f91351c38d160d08d80-hours,
#timer-text-46cec014d97c64f91351c38d160d08d80-minutes {
  color: rgb(0, 0, 0) !important;
}
.sc_main #LayoutGrid24{
max-width: 320px;
}
#wb_Text160{
  padding-bottom: 90px;
}
#wb_Text161{
  padding-bottom: 100px;
}
#wb_Text162{
  padding-bottom: 132px;
}
#wb_Image91{
  background-image: url(images/map_m.png);
  background-image: url(images/new/mpb.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 387px;
  width: 500px;
  margin-left:0  !important;

}
/* #wb_Shape107{
  margin-top: 60px;
} */
#wb_Carousel2{
  top: 2681px;
}
#wb_Text94{
  padding-top: 40px;
}
#wb_Text158 ,#wb_Text159{
padding: 0;
}
#wb_Text95{
  left: 111px;
  top: 635px;
}
#wb_uid320 {
  color: #E6D938;
  top: -176px;
  position: absolute !IMPORTANT;
}
#wb_BulletedList6 {
  left: 18px;
  top: 95px;
}
#wb_Text96 {
left: 10px;
}
.map_mob{
  position: absolute;
  top: 10349px;
  margin: 0 auto!important;
  margin-left: -100px;
}
.map_g_cont{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map_mpb_c{
  background-image:none !important;
}
.wb_Carousel1{
  overflow: hidden;
}
.map_g_cont{
  overflow: hidden;
  width: 100%;
}
#wb_Image91{
  overflow: hidden;
  width: 100%;
  max-width: 500px;
}


@media (max-width: 915px){
  .slider_g {
    display: block !important;
  }
  #wb_Image34{
    background-color: #fff;
  }
  #Shape93_text , #Shape107_text{
    top: 35px;
  }
  #wb_uid238{
    color: #4a657f;
  }
  #LayoutGrid24 > .col-1{
    background-color: #fff;
  }
}
.fr_mob #Image34 {
   
    background-color: #fff;
    padding: 17px;
    border-radius: 15px;
}



